[Unit]
Description=missed-moment service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u missed-moment.py
WorkingDirectory=/home/pi/missed-moment
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target